<div class="container_hist_moneys">

<div class="mover_four">  
<form> 
 <main role="main">
        <h1 class="text-left"> Alterações de Salário </h1>
 </main>
 <br/>
  <div class="form-row">
  <%= form_tag hist_moneys_index_path do %>
    <div class="form-group col-md-3">
      <label>Informe o Ano da Competência</label>
      <%= text_field_tag :ano , "", class: 'form-control' %>
    </div>
    <div class="form-group col-md-3">
      <label>Informe o Mês da Competência </label>
      <%= text_field_tag :mes , "", class: 'form-control'%> 
    </div>
  </div>
   <div class="form-group col-md-3">
      <%= submit_tag "Enviar" , class: 'btn btn-primary'%>
    </div>
  </div>
  <% end %>
</form>
   
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">DATA MUDANÇA</th>
      <th scope="col">COD COLIGADA</th>
      <th scope="col">CHAPA</th>
      <th scope="col">NOME</th>
      <th scope="col">DATA MUDANÇA</th>
      <th scope="col">SALARIO</th>
      <th scope="col">MOTIVO</th>
      <th scope="col">DESCRIÇÃO</th>
      <th scope="col">PERCENTUAL</th>
      <th scope="col">DATA DE REFERENCIA</th>
    </tr>
  </thead>
  <tbody>
      <% if @result.present? %>
       <% @result.each do |money| %> 
       
    <tr>
      <td><%= money.try(:DTMUDANCACHAR).try(:content)%></td>
      <td><%= money.try(:CODCOLIGADA).try(:content) %></td>
      <td><%= money.try(:CHAPA).try(:content)%></td>
      <td><%= money.try(:NOME).try(:content) %></td>
      <td><%= money.try(:DTMUDANCA).try(:content) %></td>
      <td><%= money.try(:SALARIO).try(:content) %></td>
      <td><%= money.try(:MOTIVO).try(:content)%></td>
      <td><%= money.try(:DESCRICAO).try(:content) %></td>
      <td><%= money.try(:PERCENTAPLICADO).try(:content) %></td>
      <td><%= money.try(:DATADEREFERENCIA).try(:content) %></td>
      <td> 
      <button type="button" class="btn btn-success"> Simples Visualizaçao </button> 
       </td>
      
    </tr>

      <% end %>
     <% end %>
  </tbody>
   
</table>


</div> 

</div>