
<div class="container_moneys_imprimi">
 
<main role="main">
        <h1 class="text-left"> Contra-Cheque </h1>
 </main>
<form> 
  <div class="form-row-inline">
  <%= form_tag moneys_exe_index_path do %>
    <div class="form-col-inline">
      <label>Informe a CHAPA :</label>
      <%= text_field_tag :chapa , "", class: 'form-control' %>
    </div>
    <div class="form-col-inline">
      <label>Informe o MÊS:  </label>
      <%= text_field_tag :mes , "", class: 'form-control'%> 
    </div>
    <div class="form-col-inline">
      <label>Informe o ANO:  </label>
      <%= text_field_tag :ano , "", class: 'form-control'%> 
    </div>
  </div>
   <div class="form-col-inline">
      <%= submit_tag "Enviar" , class: 'btn btn-primary'%>
    </div>
  </div>
  <% end %>

  <% if @results.present? %>
 
   <iframe src="data:application/pdf;base64,<%=@results%>" height="842" width="842"></iframe>

   <% end %>  


</form>

</div>