
<div class="container_moneys">

<div class="mover_two">  
<form> 
 <h2> Demonstrativos de Pagamentos </h2>
 <br/>
  <div class="form-row">
  <%= form_tag moneys_index_path do %>
    <div class="form-group col-md-3">
      <label>Informe o Ano da Competência</label>
      <%= text_field_tag :ano , "", class: 'form-control' %>
    </div>
    <div class="form-group col-md-3">
      <label>Informe o Mês da Competência </label>
      <%= text_field_tag :mes , "", class: 'form-control'%> 
    </div>
  </div>
   <div class="form-group col-md-3">
      <%= submit_tag "Enviar" , class: 'btn btn-primary'%>
    </div>
  </div>
  <% end %>
</form>
   

  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">NOME</th>
      <th scope="col">DESCRIÇÃO</th>
      <th scope="col">COMPETÊNCIA</th>
      <th scope="col">NROPERIODO</th>
      <th scope="col">DTPAGTO</th>
      <th scope="col">DESCRIÇÃO</th>
      <th scope="col">LIQUIDO</th>
      <th scope="col">SALARIO</th>
    </tr>
  </thead>
  <tbody>
     
    <tr>
      <td><%= @result.try(:NOME).try(:content)%></td>
      <td><%= @result.try(:DESCRICAO1).try(:content) %></td>
      <td><%= @result.try(:MESCOMP).try(:content)%></td>
      <td><%= @result.try(:NROPERIODO).try(:content) %></td>
      <td><%= @result.try(:DTPAGTO).try(:content) %></td>
      <td><%= @result.try(:DESCRICAO).try(:content) %></td>
      <td><%= @result.try(:SALARIOPAGO).try(:content) %></td>
      <td><%= @result.try(:SALARIO).try(:content) %></td>
      <td> 
      <%= link_to 'Gerar PDF', money_export_path, class: 'btn btn-success'%>
       </td>
      
    </tr>
     
  </tbody>
   
</table>


</div> 

</div>