<div class="container_points">

<div class="mover_tree">  
<form> 
 <h2> Espelho de Ponto  </h2>
 <br/>
  <div class="form-row">
  <%= form_tag points_index_path do %>
    <div class="form-group col-md-6">
      <label>Informe uma Data Inicial :</label>
      <%= date_field_tag :data_ini , "", class: 'form-control' %>
    </div>
    <div class="form-group col-md-6">
      <label>Informe uma Data Final : </label>
      <%= date_field_tag :data_fim , "", class: 'form-control'%> 
    </div>
  </div>
   <div class="form-group col-md-6">
      <%= submit_tag "Enviar" , class: 'btn btn-primary'%>
    </div>
  </div>
  <% end %>
</form>
   

  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">BATIDAS</th>
      <th scope="col">HORARIO</th>
      <th scope="col">DATA</th>
      
      <th scope="col">AÇÕES</th>
    </tr>
  </thead>
    <%#= form_tag points_justificar_path do %>
  <tbody>
   
      <% if @result.present? %>
       <% @result.each do |point| %> 
       
    <tr>
      <td><%= point.try(:BATIDAS).try(:content)%></td>
      <td><%= point.try(:HORARIO).try(:content) %></td>
      <td><%= point.try(:DATA).try(:content)%></td>
      <td> 
      <%#= text_field_tag :chapa ,"",class: 'form-control'  %>   
      <td> 
       <!--   <select class="form-control"> 
           <option> FALTA </option>
           <option> ATRASO </option>
           <option> EXTRA </option>
         </select> --> 
      
       <%#= text_field_tag :tipoocorrencia ,"",class: 'form-control'  %> 

      </td>

      <td> 
        <!-- <select class="form-control"> 
           <option> Problemas Particulares - Teste </option>
           <option> Problemas Particulares - Teste EXTRA </option>
           <option> Problemas Particulares - Teste ATRASO </option>
         </select> -->
    
       <%#= text_field_tag :motivo ,"",class: 'form-control'  %> 

      </td>
     <td> 
      <%#= link_to 'Justificar ', points_enviarTwo_path, class: 'btn btn-warning'%> | 
      <%#= submit_tag "Enviar" , class: 'btn btn-primary'%>
       </td>
      
    </tr>

      <%# end %>
     <% end %>
    <% end %>    
  </tbody>
   
</table>


</div> 

</div>
