<select class="browser-default custom-select">
        <option selected>Escolha uma Opção</option>
        <option value="1">Extra - Convenção Coletiva</option>
        <option value="2">Extra - Datas Especiais(Natal,Maes,etc)</option>
        <option value="3">Extra - Diversos</option>
        <option value="4">Extra - Não Autorizada</option>
        <option value="5">Extra - Reunião</option>
        <option value="6">Extra - Treinamento</option>
        <option value="7">Ausencia - Agencia Bancaria(pagamento,cartao/pendencias da conta)</option>
        <option value="8">Ausencia - Alistamento Eleitoral</option>
        <option value="9">Ausencia - Alistamento Militar</option>
        <option value="10">Ausencia - Amamentacao</option>
        <option value="11">Ausencia - Atestado Medico</option>
        <option value="12">Ausencia - Atestado Odontologico</option>
        <option value="13">Ausencia - Atraso na abertura da loja</option>
        <option value="14">Ausencia - Audiencia</option>
        <option value="15">Ausencia - Ausencia-Acompanhamento Filho/Esposa</option>
        <option value="16">Ausencia - Casamento</option>
        <option value="17">Ausencia - Compensacao CCT(Carnaval/Semana Santa)</option>
        <option value="18">Ausencia - Consulta Periodica</option>
        <option value="19">Ausencia - Dispensa Eleitoral</option>
        <option value="20">Ausencia - Dispensado</option>
        <option value="21">Ausencia - Doação de Sangue</option>
        <option value="22">Ausencia - Eleição</option>
        <option value="23">Ausencia - Expediente Encerrado</option>
        <option value="24">Ausencia - Folga DSR</option>
        <option value="25">Ausencia - Interesse Particular</option>
        <option value="26">Ausencia - Intimacao Judicial</option>
        <option value="27">Ausencia - Licença Paternidade</option>
        <option value="28">Ausencia - Obito - Pais,Avos,Filhos e Conjuge</option>
        <option value="29">Ausencia - Outros</option>
        <option value="30">Ausencia - Problema com Digital</option>
        <option value="31">Ausencia - Processo Admissional</option>
        <option value="32">Ausencia - Relogio de Ponto Inoperante</option>
        <option value="33">Ausencia - Saude(Consultas/Exames/Fisioterapia/Odontologico)</option>
        <option value="34">Ausencia - Sem Registro</option>
        <option value="35">Ausencia - SENAC</option>
        <option value="36">Ausencia - SENAC(Aula Extra/Trabalho)</option>
        <option value="37">Ausencia - Transporte (Congestionamento,onibus,etc)</option>
        <option value="38">Ausencia - Treinamento, Curso Empresa</option>
        <option value="39">Ausencia - Vestibular</option>
        <option value="40">Outros - Ausencia</option>
        <option value="41">Outros - Extra</option>
        <option value="42">Outros - Falta</option>
        <option value="42">Outros - Outros</option>
     </select> 
 
 <input type="text" placeholder="<%= point_exe.try(:JUSTIFICATIVA).try(:content)%>" class="form-control col-md-30">