<div class="mover">
  <main role="main">
        <h1 class="text-left"> Meus Dados </h1>
 </main>

 <h3 class="text-left"> Perfil </h3>
<br/>
  <div class="form-row"> 
   <div class="col-2">
    <%= image_tag "data:image/jpeg;base64,#{@result.try(:IMAGEM).try(:content)}" , class: 'img-thumbnail' , size: "150x150"%>
   </div>
      <div class="col-1">
        <label> Chapa </label>  
        <input class="form-control" type="text" placeholder="<%= @result.try(:CHAPA).try(:content) %>" readonly> 
      </div>
      <div class="col-1">  
        <label> Cod Pessoa </label>
        <input class="form-control" type="text" placeholder="<%= @result.try(:CODPESSOA).try(:content)  %>" readonly> 
      </div>
       <div class="col-2">   
        <label> Nome </label>
        <input class="form-control" type="text" placeholder="<%= @result.try(:NOME).try(:content)  %>" readonly> 
      </div> 
       <div class="col-2">
        <label> Data Nascimento </label>
        <input class="form-control" type="text" placeholder="<%= @result.try(:DTNASCIMENTO).try(:content)  %>" readonly> 
       </div> 
       <div class="col-3">  
        <label> Função</label>
        <input class="form-control" type="text" placeholder=" <%= @result.try(:FUNCAO).try(:content)  %> " readonly> 
      </div> 
       
      </div>
    <br/>
    <h3 class="text-left"> Dados Pessoais </h3> 
    <br/>
      <div class="form-row">
       <div class="col-2">
        <label> CPF </label>
        <input class="form-control" type="text" placeholder="<%= @result.try(:CPF).try(:content)  %>" readonly> 
       </div> 
      <div class="col-2">  
        <label> RG </label>
        <input class="form-control" type="text" placeholder=" <%= @result.try(:CARTIDENTIDADE).try(:content)  %>" readonly> 
      </div>  
      <div class="col-2"> 
        <label> Titulo Eleitor </label>
        <input class="form-control" type="text" placeholder="<%= @result.try(:TITULOELEITOR).try(:content)  %>
        " readonly> 
      </div>
       <div class="col-1">
        <label> Seção </label>
        <input class="form-control" type="text" placeholder="<%= @result.try(:SECAOTITELEITOR).try(:content) %> " readonly> 
      </div>   
       <div class="col-1">
        <label> Zona </label>
        <input class="form-control" type="text" placeholder="<%= @result.try(:ZONATITELEITOR).try(:content) %> " readonly> 
      </div> 
      <div class="col-3">
        <label> Email</label>
        <input class="form-control" type="text" placeholder="<%= @result.try(:EMAIL).try(:content) %> " readonly> 
      </div> 
      </div>

      <br/>
      <h3 class="text-left"> Formação </h3> 
      <br/>
      
      <div class="form-row"> 
      
      <div class="col-1">
        <label> ID </label>
        <input class="form-control" type="text" placeholder="<%= @result.try(:GRAUINSTRUCAO).try(:content) %> " readonly> 
      </div> 
      <div class="col-2">  
        <label> Escolaridade </label>
        <input class="form-control" type="text" placeholder="<%= @result.try(:DESCRICAO).try(:content) %> " readonly> 
      </div>
      
      </div>
      
      <br/>
      <h3 class="text-left"> Filiação/Dependentes </h3> 
      <br/>
      
      <div class="form-row"> 
      
      <div class="col-3">
        <label> Mãe </label>
        <input class="form-control" type="text" placeholder="<%= @result.try(:NOME_x0020_DA_x0020_MAE).try(:content) %> " readonly> 
      </div> 
      <div class="col-3">  
        <label> Pai </label>
        <input class="form-control" type="text" placeholder="<%= @result.try(:NOME_x0020_DA_x0020_PAI).try(:content) %> " readonly> 
      </div> 
      <div class="col-2">
        <label> Cônjuge </label>
        <input class="form-control" type="text" placeholder="<%= @result.try(:NOME5).try(:content) %> " readonly> 
       </div> 
      <div class="col-3">  
        <label> Filhos </label>
        <input class="form-control" type="text" placeholder="<%= @result.try(:NOME1).try(:content) %> " readonly> 
      </div> 

      </div>

      <br/>
      <h3 class="text-left"> Endereço </h3> 
      <br/>

      <div class="form-row">
      <div class="col-2">
        <label> Rua </label>
        <input class="form-control" type="text" placeholder="<%= @result.try(:RUA).try(:content) %> " readonly> 
      </div> 
      <div class="col-1">  
        <label> Numero </label>
        <input class="form-control" type="text" placeholder="<%= @result.try(:NUMERO).try(:content) %> " readonly> 
      </div>
      <div class="col-2">  
        <label> Bairro </label> 
        <input class="form-control" type="text" placeholder="<%= @result.try(:BAIRRO).try(:content) %> " readonly> 
      </div>
       <div class="col-2">  
        <label> Cidade</label> 
        <input class="form-control" type="text" placeholder="<%=@result.try(:CIDADE).try(:content)  %> " readonly> 
      </div>
       <div class="col-2">  
        <label> Estado </label> 
        <input class="form-control" type="text" placeholder="<%= @result.try(:ESTADO).try(:content) %> " readonly> 
      </div>
       <div class="col-2">  
        <label> Pais</label> 
        <input class="form-control" type="text" placeholder="<%= @result.try(:PAIS).try(:content) %> " readonly> 
      </div>
       <div class="col-2">  
        <label> Cep </label> 
        <input class="form-control" type="text" placeholder="<%= @result.try(:CEP).try(:content) %> " readonly> 
      </div>
       <div class="col-2">  
        <label> Telefone </label> 
        <input class="form-control" type="text" placeholder="<%= @result.try(:TELEFONE1).try(:content) %> " readonly> 
      </div>
      </div>
     
     

      </div>

  </div>    