<div class="mover_five">  
 

 <h2> Justificaticas de Exceções </h2>
 
 <table class="table table-striped">
  <thead>
    <tr>
      <!--<th scope="col">CODCOLIGADA</th> --> 
      <th scope="col">CHAPA</th>
      <th scope="col">DATA</th>
      <!-- <th scope="col">INICIO</th> -->
      <!-- <th scope="col">FIM</th> -->
      <th scope="col">HORAS</th>
      <th scope="col">INICIO</th>
      <th scope="col">FIM </th>
      <th scope="col">TIPO</th>
      <th scope="col"> JUSTIFICATIVA (Selecione uma Opção:)</th>
      <!-- <th scope="col">ATITUDE</th> -->
      <!-- <th scope="col">NUMHORAS</th> -->
    </tr>
  </thead>
  
  <tbody>
      <% index = 0 %>
      <% if @result.present? %>
       <% @result.each do |point_exe| %> 
       
    <tr>
      <% point_exe.try(:CODCOLIGADA).try(:content)%>
      <td><%= point_exe.try(:CHAPA).try(:content) %></td>
      <td><%= point_exe.try(:DATA).try(:content)%></td>
      <% point_exe.try(:INICIO).try(:content)%>
      <% point_exe.try(:FIM).try(:content)%>
      <td><%= point_exe.try(:NUMHORASSTR).try(:content)%></td>
      <td><%= point_exe.try(:INICIOSTR).try(:content)%></td>
      <td><%= point_exe.try(:FIMSTR).try(:content)%></td>
      <td><%= point_exe.try(:TIPOOCORRENCIA).try(:content)%></td>
      <td>
      <form> 
 <br/>
  <div class="form-inline">
  <%= form_tag points_exe_index_path do %>
    <div class="form-group col-md-6">

      <%= select_tag :justificativa, options_for_select([
        "Ausencia - Agencia Bancaria(pagamento,cartao/pendencias da conta)",
        "Ausencia - Alistamento Eleitoral",
        "Ausencia - Alistamento Militar",
        "Ausencia - Amamentacao",
        ">Ausencia - Atestado Medico",
        "Ausencia - Atestado Odontologico",
        "Ausencia - Atraso na abertura da loja",
        "Ausencia - Audiencia",
        "Ausencia - Ausencia-Acompanhamento Filho/Esposa",
        "Ausencia - Casamento",
        "Ausencia - Compensacao CCT(Carnaval/Semana Santa)",
        "Ausencia - Consulta Periodica",
        "Ausencia - Dispensa Eleitoral",
        "Ausencia - Dispensado",
        "Ausencia - Doação de Sangue",
        "Ausencia - Eleição",
        "Ausencia - Expediente Encerrado",
        "Ausencia - Folga DSR",
        "Ausencia - Interesse Particular",
        "Ausencia - Intimacao Judicial",
        "Ausencia - Licença Paternidade",
        "Ausencia - Obito - Pais,Avos,Filhos e Conjuge",
        "Ausencia - Outros",
        "Ausencia - Problema com Digital",
        "Ausencia - Processo Admissional",
        "Ausencia - Relogio de Ponto Inoperante",
        "Ausencia - Saude(Consultas/Exames/Fisioterapia/Odontologico)",
        "Ausencia - Sem Registro",
        "Ausencia - SENAC",
        "Ausencia - SENAC(Aula Extra/Trabalho)",
        "Ausencia - Transporte (Congestionamento,onibus,etc)",
        "Ausencia - Treinamento, Curso Empresa",
        "Ausencia - Vestibular",
        "Extra - Convenção Coletiva",
        "Extra - Datas Especiais(Natal,Maes,etc)",
        "Extra - Diversos",
        "Extra - Não Autorizada",
        "Extra - Reunião",
        "Extra - Treinamento",
        "Outros - Ausencia",
        "Outros - Extra",
        "Outros - Falta",
        "Outros - Outros"], point_exe.try(:JUSTIFICATIVA).try(:content)), class: 'form-control' %>
    </div> 
    
   
    <div class="form-group col-md-6">
      <%# <label>Informe a linha : </label> %>
      <%= hidden_field_tag :linha , index, class: 'form-control'%> 
    </div>
  </div>
 <!-- <input type="text" placeholder="<%= point_exe.try(:JUSTIFICATIVA).try(:content)%>" class="form-control col-md-10"> -->
  <% if point_exe.try(:JUSTIFICATIVA).try(:content) == nil %>
    
   <div class="form-group col-md-6">
      <%= submit_tag "Enviar" , class: 'btn btn-primary'%>
    </div>
  </div>
  <% end %>
 

  <% end %>
</form>
  
      </td>  
     </tr> 
     
<% index += 1%>
      <% end %>
     <% end %>
   
  </tbody>
   
</table>
 

</div> 

</div>
  