<!DOCTYPE html>
<html>
  <head>
    <title> Pintos Portal </title>
    <%= render 'layouts/site_layout/config_site'%>
  </head>
   
  <body>
    <%= render 'layouts/site_layout/site_header'%>
    <div class="container">
    <%= yield %>
    </div>
    <%= render 'layouts/site_layout/site_footer'%>
  </body>
</html>